extends base
block content
  // MAIN START
  section#mainContent
    .container
      .row
        .col-md-3.p-3
          include _sidebar
        .col-md-9.p-3
          include _post.pug
    .goUp
      a.fixed-bottom.up-control.rounded-circle.m-5.ml-auto(href='#mainContent')
        i.fas.fa-arrow-up.fa-lg