extends base
block content
  // MAIN START
  section#mainContent
    .container
      .row
        .col-md-3.p-3
          include _sidebar
        .col-md-9.p-3
          .card.mb-5
            .card-body.overflow-hidden
              p.text-muted.m-1.mb-2
                i.fas.fa-gamepad.mr-2.d-inline
                | Gaming
                span.text-dark  3h 
              a(href='#')
                h3.p-0.text-dark.mb-4
                  strong This is my best game of League Of Legends Yet!
              a(href='http://www.google.si')
                img.img-fluid(src='./img/53T8668.png' alt='')
              .rating.d-block.mt-4
                button.btn.btn-outline-secondary.px-4
                  i.fas.fa-thumbs-up
                button.btn.btn-outline-secondary.px-4.mx-2
                  i.fas.fa-thumbs-down
                button.btn.btn-outline-secondary.px-4
                  i.fas.fa-comment
                ul.style-none.float-right.list-unstyled.d-inline-block.mt-2
                  li.d-inline.mr-2 432 Comments
                  li.d-inline 32 Likes
          .card.mb-5
            .card-body.overflow-hidden
              p.text-muted.m-1
                i.fas.fa-gamepad.mr-2.d-inline
                | Gaming
                span.text-dark  3h 
              a(href='#')
                h3.p-0.text-dark
                  strong This is my best game of League Of Legends Yet!
              a(href='http://www.google.si')
                img.img-fluid(src='./img/53T8668.png' alt='')
              .rating.d-block.mt-4
                button.btn.btn-outline-secondary.px-4
                  i.fas.fa-thumbs-up
                button.btn.btn-outline-secondary.px-4.mx-2
                  i.fas.fa-thumbs-down
                button.btn.btn-outline-secondary.px-4
                  i.fas.fa-comment
                ul.style-none.float-right.list-unstyled.d-inline-block.mt-2
                  li.d-inline.mr-2 432 Comments
                  li.d-inline 32 Likes
    .goUp
      a.fixed-bottom.up-control.rounded-circle.m-5.ml-auto(href='#mainContent')
        i.fas.fa-arrow-up.fa-lg