extends base
block content
  // MAIN START
  section#mainContent
    .container
      .row
        .col-md-3.p-3
          include _sidebar
        .col-md-9.p-3
          #loginCard.card
                .card-header.p-3
                  h4.card-title.d-block Login
                .card-body
                  include _message
                  form(action='/login' method="post")
                    .form-group
                      label(for='Email') Email
                      input.form-control(type='email' name="email" placeholder='Email address...')
                    .form-group
                      label(for='password') Password
                      input.form-control(type='password'  name="password" placeholder='*******')
                    button.btn.btn-primary(type="submit") Login
                  small.text-muted.mt-2
                    | If you do not have an account please
                    a(href='/register')  register
      .goUp
        a.fixed-bottom.up-control.rounded-circle.m-5.ml-auto(href='#mainContent')
        i.fas.fa-arrow-up.fa-lg
