extends base
block content
  // MAIN START
  section#mainContent
    .container
      .row
        .col-md-3.p-3
          a.d-block.sidebar-custom.py-2.pl-2.lead.sidebar-active(href='#')
            i.fas.fa-fire
            strong  Top
          a.d-block.sidebar-custom.py-2.pl-2.lead(href='#')
            i.fas.fa-clock
            strong  New
          p.d-block.pl-2.py-2.text-secondary.m-0
            strong
              strong  Categories
          a.d-block.sidebar-custom.py-2.pl-2.lead.text-muted(href='#')
            i.fas.fa-laugh
            strong  Comedy
          a.d-block.sidebar-custom.py-2.pl-2.lead.text-muted(href='#')
            i.fas.fa-surprise
            strong  WTF
          a.d-block.sidebar-custom.py-2.pl-2.lead.text-muted(href='#')
            i.fas.fa-gamepad
            strong  Gaming
          a.d-block.sidebar-custom.py-2.pl-2.lead.text-muted(href='#')
            i.fas.fa-hippo
            strong  Animals
          a.d-block.sidebar-custom.py-2.pl-2.lead.text-muted(href='#')
            i.fas.fa-music
            strong  Music
          a.d-block.sidebar-custom.py-2.pl-2.lead.text-muted(href='#')
            i.fas.fa-kiss-wink-heart
            strong  NSFW
          p.d-block.pl-2.py-2.text-secondary.m-0
            strong
              strong  Sections
          a.d-block.sidebar-custom.py-2.pl-2.active.lead.text-muted(href='#')
            i.fas.fa-image
            strong  Wallpaper
          a.d-block.sidebar-custom.py-2.pl-2.active.lead.text-muted(href='#')
            i.fas.fa-futbol
            strong  Football
          a.d-block.sidebar-custom.py-2.pl-2.active.lead.text-muted(href='#')
            i.fas.fa-play-circle
            strong  GIF
          a.d-block.sidebar-custom.py-2.pl-2.active.lead.text-muted(href='#')
            i.fas.fa-surprise
            strong  Horror
          a.d-block.sidebar-custom.py-2.pl-2.active.lead.text-muted(href='#')
            i.fas.fa-landmark
            strong  History
          a.d-block.sidebar-custom.py-2.pl-2.active.lead.text-muted(href='#')
            i.fas.fa-film 
            strong  Movie
          a.d-block.sidebar-custom.py-2.pl-2.active.lead.text-muted(href='#')
            i.fas.fa-briefcase
            strong  DIY
        .col-md-9.p-3
          #registerPage.card
            .card
              .card-header.p-3
                h4.card-title.d-block Register
              .card-body
                include _message
                form(action="/register" method="post")
                  .form-group
                    label(for='text') Nickname
                    .input-group
                      .input-group-prepend
                        span.input-group-text
                          i.fas.fa-signature
                      input.form-control(type='text' name="nickname" placeholder='Nickname...' maxlength='30')
                    small.text-muted Nickname can only be 30 or less characters long!
                  .form-group
                    label(for='Email') Email
                    .input-group
                      .input-group-prepend
                        span.input-group-text
                          i.fas.fa-envelope
                      input.form-control(type='email' name="email" placeholder='Email address...')
                  .form-group
                    label(for='password') Password
                    .input-group
                      .input-group-prepend
                        span.input-group-text
                          i.fas.fa-key
                      input.form-control(type='password' name="password" placeholder='*******')
                  .form-group
                    label(for='password') Confirm password
                    .input-group
                      .input-group-prepend
                        span.input-group-text
                          i.fas.fa-key
                      input.form-control(type='password' name="confirmPassword" placeholder='*******')
                  button.btn.btn-primary(type='submit') Register
                small.text-muted.mt-3
                  | If you already have an account please
                  a(href='/login')  login
          .goUp
            a.fixed-bottom.up-control.rounded-circle.m-5.ml-auto(href='#mainContent')
              i.fas.fa-arrow-up.fa-lg
