#navigation .navbar-search {
  position: relative !important;
}
.search-form {
  position: absolute;
  z-index: 99;
}
.container .navbar-nav .nav-user {
  &:hover {
    cursor: pointer;
    background: rgba(#6c757d, 0.1) !important;
  }
}

#mainContent .container .sidebar-custom {
  color: #000;
  text-decoration: none;
  &:hover {
    background: rgba(#6c757d, 0.1);
  }
}

#mainContent .container .sidebar-active {
  background: rgba(#6c757d, 0.1);
}

#mainContent .up-control {
  background: rgba(#000, 0.5);
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-decoration: none;
  transition: all 0.2s;
  &:hover {
    height: 55px;
    width: 55px;
  }
}
.comments-head {
  &:hover {
    text-decoration: none !important;
  }
}

.comments-active-head {
  position: relative;
  &::before {
    content: '';
    height: 2px;
    width: 50px;
    background: #007bff;
    position: absolute;
    bottom: -23px;
    left: 50%;
    transform: translatex(-50%);
  }
}

.comment-text {
  width: 100%;
  resize: none;
}

.profileSelection {
  position: relative;
  &::before {
    content: '';
    height: 2px;
    width: 50px;
    background: #007bff;
    position: absolute;
    bottom: -3px;
    left: 50%;
    transform: translatex(-50%);
    z-index: 99;
  }
}

.settingsActive {
  background: rgba(#007bff, 0.8);
  color: #fff !important;
}

.linkHover {
  cursor: pointer;
}
